<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Item:</strong>
  <%= @task.item %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>


<%#= link_to 'Edit', edit_transaction_path(@transaction) %>
<%= link_to 'back', tasks_path %>